* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background color variables */
  --color-primary: #ffffff;
  --color-secondary: #aa96da;
  --color-tertiary: #a8d8ea;
  --color-dark: #2d4059;

  /* font color variables */
  --font-color-primary: #393e46;
  --font-color-secondary: #b2b2b2;
  --font-color-accent: #fc5185;
  --font-color-light: #ffffff;
}

body {
  width: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
