.footer {
  background-color: var(--color-dark);
  color: var(--font-color-light);
  text-align: center;
  padding: 2rem;
}

.footer-link,
.footer-link:hover,
.footer-link:focus {
  color: var(--font-color-light);
}
