.about-card-container-wrapper {
  background-color: var(--color-tertiary);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about-employee-card-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem;
}

.description-text-container {
  width: 300px;
}

.description-text-container {
  text-align: left;
  margin-right: 3rem;
}

@media only screen and (max-width: 768px) {
  .description-container {
    flex-direction: column;
  }

  .description-text-container {
    text-align: left;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
