.about-card {
  align-items: flex-start;
  background-color: var(--color-primary);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  text-align: left;
}

.about-card-bold {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
