.customer-testimonial-card {
  align-items: flex-start;
  background-color: var(--color-primary);
  border: none;

  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.testimonial-paragraph {
  font-style: italic;
}

.customer-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 2rem;
}
