.primary-service-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 1rem;
  text-align: left;
  background-color: var(--color-primary);
}

.primary-service-card-heading {
  color: var(--font-color-primary);
}

.primary-service-card-inner {
  border: 3px solid var(--color-tertiary);
  padding: 1rem;
}
